#body-login {
    background: linear-gradient(135deg, #161625, #0d0d18);
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.login-box {
    background-color: #ececec;
    width: 100%;    max-width: 420px;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
    text-align: center;
}

.logo {
    width: 240px;
    display: block;
    margin: 0 auto 10px auto;
}

.subtitle {
    font-size: 12px;
    color: #777;
    margin-bottom: 18px;
}

.form-control {
    height: 45px;
    border-radius: 6px;
    border: 1px solid #bcbcbc;
    background-color: #fff;
}

.btn-secondary {
    height: 45px;
    background-color: #dfdfdf;
    border: none;
    color: #333;
    font-size: 16px;
    border-radius: 6px;
}

.btn-danger {
    height: 45px;
    background: linear-gradient(90deg, #ff0000, #ff2f45);
    border: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 6px;
}

.btn-danger:hover {
    opacity: 0.9;
}